/* home  */
.home{
    height: calc(82vh);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    position: relative;
    padding: 5px;
}
.home-int{
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.575);
}
.home-int::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.507);
}
.home > :nth-child(1){background-image: url(../img/galeria/TERAPI-ADULTOS-UAI-WPR.svg);}
.home > :nth-child(2){background-image: url(../img/galeria/tesc.jpg);}
.home > :nth-child(3){background-image: url(../img/galeria/waimage.jpg);}
.home > :nth-child(4){background-image: url(../img/galeria/terapia-UAI-WPR.svg);}
.home-texts{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.164);
    border-radius: 30px 100px;
    backdrop-filter: blur(10px);
    background-color: #84d1da67;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* container ms y quienes somos */
.ms-qs-container{
    height: fit-content;
    background-color: #f4dfde52;
    border-radius: 30px;
}

/* quienes somos */
.quienes-somos{
    /* border: solid black; */
    width: 100vw;
    height: 60vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.qs-logo{
    /* border: solid black; */
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.qs-logo img{
    width: 150px;
    height: auto;
    object-fit: cover;
    filter: drop-shadow(1px 1px 10px #00acb5c7);
    opacity: .5;
}
.qs-texts{
    /* border: solid black; */
    width: 70%;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 30px;
}

/* mision y vision */
.mision-vision{
    height: 90vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
}
.mision-vision::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.397);
    z-index: 2;
}
.fondo-mision-vision{
    position: absolute;
    z-index: 1;
    top: -70%;
    left: 15%;
    width: auto;
    height: 110vw;
    transform: rotate(90deg);
}
.mv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
}
.mision, .vision{
    width: 40%;
    height: 60%;
    border-radius: 30px 100px;
    text-align: center;
    padding: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.164);
}
.mision{
    background-color: #84d1da79;
}
.vision{
    background-color: #6e6e6b8f;
}

/* valores */
.valores-tt{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.valores{
    height: 250vh;
    position: relative;
    overflow: hidden;
}
.valores-texts{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.valores-texts-int{
    width: 80%;
    height: 98%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 8vh;
}
.vcaja-t{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    position: relative;
}
.vcaja-t > :nth-child(3){
    width: 60%;
}
.valores-texts-int > :nth-child(2), 
.valores-texts-int > :nth-child(4)
{
    align-items: end;
    text-align: right;
}
.separador-v{
    width: 70%;
    border: 1px solid black;
    margin: 10px 0;
}

/* responsive */
@media screen and (max-width: 820px){
    .home{
        width: 100%;
        overflow: hidden;
    }
    .home-texts{
        width: 80%;
    }
    .mision-vision{
        height: fit-content;
    }
    .mision, .vision{
        width: 70%;
    }
    .mision{
        transform: translateX(-50%);
    }
    .mv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        gap: 30px;
    }
    .quienes-somos{
        height: fit-content;
    }
    .qs-logo{
        padding: 20px 0;
        flex-direction: column;
        gap: 20px;
    }
    .valores-tt{
        text-align: center;
    }
}