<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/clientes.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <section class="container">
        <div class="preliminar">
            <div class="pre-int">
                <div>
                    <i class="fa-solid fa-phone-flip"></i>
                    <p class="regular">+57 123 456 78 90</p>
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="" class="enlace-n regular"><p>wpr@gmail.com</p></a>
                </div>
            </div>
            <div class="pre-redes"> 
                <a href="https://www.instagram.com/" target="_blank" class="redes-link"><i class="fa-brands fa-instagram redes" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="100"></i></a>
                <a href="https://www.tiktok.com/" target="_blank" class="redes-link"><i class="fa-brands fa-tiktok redes" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="150"></i></a>
                <a href="https://www.whatsapp.com/" target="_blank" class="redes-link"><i class="fa-brands fa-whatsapp redes" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="200"></i></a>
            </div>
        </div>
        <div class="header">
            <div>
                <div class="menu" id="menu">
                    <i class="fa-solid fa-bars fa-2x"></i>
                </div>
                <div class="container-nofloat">
                    <div class="menu-float" id="menu-float">
                        <div class="menu-float-int">
                            <nav>
                                <ul>
                                    <li><a href="../../index.html" class="enlace bold BLACK">Inicio</a></li>
                                    <li><a href="#" class="enlace bold BLACK">Nosotros</a></li>
                                    <li><a href="proyectos.html" class="enlace bold BLACK">Proyectos</a></li>
                                    <li><a href="clientes.html" class="enlace bold BLACK">Clientes</a></li>
                                    <li><a href="docs.html" class="enlace bold BLACK">Transparencia</a></li>
                                    <li><a href="contactus.html" class="enlace bold BLACK">Contactanos</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div> 
                <div class="menu-float2" id="menu-float2">
                    <div class="puntos1 puntos" style="grid-template-columns: repeat(16, 1fr);"></div>
                    <div id="closeIcon">
                        <i class="fa-solid fa-xmark fa-3x"></i>
                    </div>
                    <div class="menu-float-int2">
                        <nav>
                            <ul>
                                <li><a href="../../index.html" class="enlace bold BLACK x1-5">Inicio</a></li>
                                <li><a href="nosotros.html" class="enlace bold BLACK x1-5">Nosotros</a></li>
                                <li><a href="proyectos.html" class="enlace bold BLACK x1-5">Proyectos</a></li>
                                <li><a href="clientes.html" class="enlace bold BLACK x1-5">Clientes</a></li>
                                <li><a href="docs.html" class="enlace bold BLACK x1-5">Transparencia</a></li>
                                <li><a href="contactus.html" class="enlace bold BLACK x1-5">Contactanos</a></li>
                            </ul>
                        </nav>
                    </div>
                
                    <div class="puntost puntos" style="grid-template-columns: repeat(16, 1fr);"></div>
                </div>
            </div>
            <div class="logo">
                <a href="#"><img class="logo-img" src="../img/logos/LOGO.svg" alt="logo" data-aos="fade-up" data-aos-duration="700"></a>
            </div>
            <script src="../js/menu.js"></script>
        </div>

        <div class="home">
            <div class="homeBG">
                <div class="home-texts">
                    <h1 class="black x3">NUESTROS <div class="separador"></div><span class="light">CLIENTES</span></h1>
                </div>
            </div>
        </div>

        <div class="clientes clientes2">
            <div class="c2-texts" data-aos="fade-down" data-aos-duration="700" data-aos-delay="0">    
                <p class="bold x2">Municipio de Envigado</p>
            </div>
            <div class="c2-texts" data-aos="fade-down" data-aos-duration="700" data-aos-delay="50">    
                <p class="bold x2">Municipio de Itagüí</p>
            </div>
            <div class="c2-texts" data-aos="fade-down" data-aos-duration="700" data-aos-delay="100">    
                <p class="bold x2">Inder Envigado</p>
            </div>
            <div class="c2-texts" data-aos="fade-down" data-aos-duration="700" data-aos-delay="150">    
                <p class="bold x2">Hospital general de medellín</p>
            </div>
            <div class="c2-texts" data-aos="fade-down" data-aos-duration="700" data-aos-delay="200">    
                <p class="bold x2">e.s.e hospital san juan de dios</p>
            </div>
            <div class="c2-texts" data-aos="fade-down" data-aos-duration="700" data-aos-delay="250">    
                <p class="bold x2">E.S.E Santa Gertrudis Envigado</p>
            </div>
            <div class="c2-texts" data-aos="fade-down" data-aos-duration="700" data-aos-delay="300">    
                <p class="bold x2">E.S.E Hospital Héctor Abad Gómez de Yondo</p>
            </div>
            <div class="c2-texts" data-aos="fade-down" data-aos-duration="700" data-aos-delay="350">    
                <p class="bold x2">Escuela superior tecnológicos de artes Débora Arango</p>
            </div>
            <div class="c2-texts" data-aos="fade-down" data-aos-duration="700" data-aos-delay="400">    
                <p class="bold x2">Hospital la maría</p>
            </div>
        </div>

        <div class="clientes clientes1">
            <div class="figuras-container" style="top: 0; left: -7%;"></div>
            <div class="figuras-container" style="top: 11%; right: -6%;"></div>
            <div class="figuras-container" style="top: 22%; left: -7%;"></div>
            <div class="figuras-container" style="top: 33%; right: -6%;"></div>
            <div class="figuras-container" style="top: 44%; left: -7%;"></div>
            <div class="figuras-container" style="top: 55%; right: -6%;"></div>
            <div class="figuras-container" style="top: 66%; left: -7%;"></div>
            <div class="figuras-container" style="top: 77%; right: -6%;"></div>
            <div class="figuras-container" style="top: 88%; left: -7%;"></div>
        </div>
        <script>
            const caja = document.querySelectorAll('.figuras-container')
            const textos = [
                'Municipio de Envigado',
                'Municipio de Itagüí',
                'Inder Envigado',
                'Hospital general de medellín',
                'e.s.e hospital san juan de dios',
                'E.S.E Santa Gertrudis Envigado',
                'E.S.E Hospital Héctor Abad Gómez de Yondo',
                'Escuela superior tecnológicos de artes Débora Arango',
                'Hospital la maría'
            ]
            caja.forEach((cajaC, index) => {
                const circulos = document.createElement('div')
                circulos.classList.add('circulos')
                const barra = document.createElement('div')
                barra.classList.add('barra')
                const circulito = document.createElement('div')
                circulito.classList.add('circulito')
                const textoCliente = document.createElement('p')
                textoCliente.classList.add('x2', 'bold', 'text-cliente')
                textoCliente.textContent = textos[index]
                if(index % 2 === 0) {
                    cajaC.appendChild(circulos)
                    cajaC.appendChild(barra)
                    cajaC.appendChild(circulito) 
                    cajaC.appendChild(textoCliente) 
                    textoCliente.style.marginLeft = '10px'
                }else{
                    cajaC.appendChild(textoCliente)
                    cajaC.appendChild(circulito)
                    cajaC.appendChild(barra)
                    cajaC.appendChild(circulos)
                    textoCliente.style.marginRight = '10px'
                }
               
            })
        </script>
        <div class="fotter">
            <div class="fotter-int fot-logo">
                <img src="../img/logos/LOGO.svg" alt="">
            </div>
            <div class="fotter-int fot-programas">
                <h3 class="bold fot-programas-tt">NUESTROS PROGRAMAS</h3>
                <br>
                <ul>
                    <li class="programa regular textonormal">programa1</li>
                    <li class="programa regular textonormal">programa2</li>
                    <li class="programa regular textonormal">programa3</li>
                    <li class="programa regular textonormal">programa4</li>
                    <li class="programa regular textonormal">programa5</li>
                    <li class="programa regular textonormal">programa6</li>
                    <li class="programa regular textonormal">programa7</li>
                </ul>
            </div>
            <div class="fotter-int fot-contacto">
                <h3 class="bold fot-programas-tt">CONTACTANOS O VISITANOS</h3>
                <br>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="regular textonormal">ubicacion</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-clock"></i>
                    <p class="regular textonormal">horario de atencion</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-phone-flip"></i>
                    <p class="regular textonormal">+57 123 456 78 90</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-envelope"></i>
                    <p class="regular textonormal">fundacionhuellasdelayer<br>@gmail.com</p>
                </div>
            </div>
            <div class="fotter-int fot-news">
                <h3 class="bold fot-programas-tt">¡SIGUENOS!</h3>
                <br><br>
                <div class="fot-news-int">
                    <i class="fa-brands fa-twitter redes"></i>
                    <p class="regular textonormal">Twitter</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-news-int">
                    <i class="fa-brands fa-instagram redes"></i>
                    <p class="regular textonormal">Instagram</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-news-int">
                    <i class="fa-brands fa-tiktok redes"></i>
                    <p class="regular textonormal">Tik Tok</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-news-int">
                    <i class="fa-brands fa-whatsapp redes"></i>
                    <p class="regular textonormal">WhatsApp</p>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            puntos('.puntos', 220);
            puntos('.puntos1', 64);
            puntos('.puntost', 288);
         });
    </script>
    <script src="../js/puntos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init()
    </script>
</body>
</html>