<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Consulta los documentos de transparencia de la Fundación Huellas del Ayer. Conoce nuestros programas, horarios, ubicación y canales de contacto. Accede a nuestras redes sociales y entérate de todo lo que hacemos por la comunidad.">
    <meta name="keywords" content="transparencia, documentos institucionales, Fundación Huellas del Ayer, proyectos sociales, programas sociales, contacto fundación, ubicación fundación, redes sociales fundación, salud comunitaria, atención social, organización sin ánimo de lucro, Colombia, Instagram fundación, TikTok fundación, WhatsApp fundación, correo fundación, Fundación WPR, documentos de gestión, participación ciudadana, contacto directo, horarios de atención, información pública, fundaciones en Colombia, acceso a la información, transparencia organizacional">
    <meta name="author" content="Fundación Huellas del Ayer - WPR Gestión en Salud S.A.S.">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#00adb5">

    <meta property="og:title" content="Transparencia - Fundación Huellas del Ayer">
    <meta property="og:description" content="Accede a los documentos de gestión y transparencia de la Fundación Huellas del Ayer. Información clara y accesible para toda la comunidad.">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Fundación Huellas del Ayer - WPR Gestión en Salud S.A.S.">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_CO">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:alt" content="Logo de la Fundación Huellas del Ayer">
    <meta property="og:image:secure_url" content="">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Transparencia - Fundación Huellas del Ayer">
    <meta name="twitter:description" content="Consulta pública de documentos, programas y datos clave sobre la gestión institucional de la Fundación Huellas del Ayer.">
    <meta name="twitter:image" content="">
    <meta name="twitter:image:alt" content="Logo de Fundación Huellas del Ayer">

    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/docs.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Document</title>
</head>
<body>      
    <section class="container">
        <div class="preliminar">
            <div class="pre-int">
                <div>
                    <i class="fa-solid fa-phone-flip"></i>
                    <p class="regular">+57 123 456 78 90</p>
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="" class="enlace-n regular"><p>wpr@gmail.com</p></a>
                </div>
            </div>
            <div class="pre-redes"> 
                <a href="https://www.instagram.com/" target="_blank" class="redes-link"><i class="fa-brands fa-instagram redes" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="100"></i></a>
                <a href="https://www.tiktok.com/" target="_blank" class="redes-link"><i class="fa-brands fa-tiktok redes" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="150"></i></a>
                <a href="https://www.whatsapp.com/" target="_blank" class="redes-link"><i class="fa-brands fa-whatsapp redes" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="200"></i></a>
            </div>
        </div>
        <div class="header">
            <div>
                <div class="menu" id="menu">
                    <i class="fa-solid fa-bars fa-2x"></i>
                </div>
                <div class="container-nofloat">
                    <div class="menu-float" id="menu-float">
                        <div class="menu-float-int">
                            <nav>
                                <ul>
                                    <li><a href="../../index.html" class="enlace bold BLACK">Inicio</a></li>
                                    <li><a href="#" class="enlace bold BLACK">Nosotros</a></li>
                                    <li><a href="proyectos.html" class="enlace bold BLACK">Proyectos</a></li>
                                    <li><a href="clientes.html" class="enlace bold BLACK">Clientes</a></li>
                                    <li><a href="docs.html" class="enlace bold BLACK">Transparencia</a></li>
                                    <li><a href="contactus.html" class="enlace bold BLACK">Contactanos</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div> 
                <div class="menu-float2" id="menu-float2">
                    <div class="puntos1 puntos" style="grid-template-columns: repeat(16, 1fr);"></div>
                    <div id="closeIcon">
                        <i class="fa-solid fa-xmark fa-3x"></i>
                    </div>
                    <div class="menu-float-int2">
                        <nav>
                            <ul>
                                <li><a href="../../index.html" class="enlace bold BLACK x1-5">Inicio</a></li>
                                <li><a href="nosotros.html" class="enlace bold BLACK x1-5">Nosotros</a></li>
                                <li><a href="proyectos.html" class="enlace bold BLACK x1-5">Proyectos</a></li>
                                <li><a href="clientes.html" class="enlace bold BLACK x1-5">Clientes</a></li>
                                <li><a href="docs.html" class="enlace bold BLACK x1-5">Transparencia</a></li>
                                <li><a href="contactus.html" class="enlace bold BLACK x1-5">Contactanos</a></li>
                            </ul>
                        </nav>
                    </div>
                
                    <div class="puntost puntos" style="grid-template-columns: repeat(16, 1fr);"></div>
                </div>
            </div>
            <div class="logo">
                <a href="#"><img class="logo-img" src="../img/logos/LOGO.svg" alt="logo" data-aos="fade-up" data-aos-duration="700"></a>
            </div>
            <script src="../js/menu.js"></script>
        </div>
        <div class="h-d-container">
            <div class="home">
                <div class="home-texts" data-aos="fade-up" data-aos-duration="700" >
                    <h1 class="black x3" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="300">TRANSPARENCIA</h1>
                </div>
            </div>

            <div class="docs-container">
                <div class="buscador docs-int" data-aos="fade-up" data-aos-duration="700">
                    <input type="text" class="buscador-input regular" placeholder="Buscar...">
                    <button class="buscador-button"><i class="fa-solid fa-magnifying-glass fa-2x"></i></button>
                </div>
                <div class="docs docs-int" id="docs" data-aos="fade-up" data-aos-duration="700">
                    <p class="regular">Aun no hay documentos</p>
                    <i class="fa-solid fa-file-circle-xmark fa-5x"></i>
                </div>
                <script src="../js/documentos.js"></script>
            </div>
        </div>

        <div class="fotter">
            <div class="fotter-int fot-logo">
                <img src="../img/logos/LOGO.svg" alt="">
            </div>
            <div class="fotter-int fot-programas">
                <h3 class="bold fot-programas-tt">NUESTROS PROGRAMAS</h3>
                <br>
                <ul>
                    <li class="programa regular textonormal">programa1</li>
                    <li class="programa regular textonormal">programa2</li>
                    <li class="programa regular textonormal">programa3</li>
                    <li class="programa regular textonormal">programa4</li>
                    <li class="programa regular textonormal">programa5</li>
                    <li class="programa regular textonormal">programa6</li>
                    <li class="programa regular textonormal">programa7</li>
                </ul>
            </div>
            <div class="fotter-int fot-contacto">
                <h3 class="bold fot-programas-tt">CONTACTANOS O VISITANOS</h3>
                <br>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="regular textonormal">ubicacion</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-clock"></i>
                    <p class="regular textonormal">horario de atencion</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-phone-flip"></i>
                    <p class="regular textonormal">+57 123 456 78 90</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-envelope"></i>
                    <p class="regular textonormal">fundacionhuellasdelayer<br>@gmail.com</p>
                </div>
            </div>
            <div class="fotter-int fot-news">
                <h3 class="bold fot-programas-tt">¡SIGUENOS!</h3>
                <br><br>
                <div class="fot-news-int">
                    <i class="fa-brands fa-twitter redes"></i>
                    <p class="regular textonormal">Twitter</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-news-int">
                    <i class="fa-brands fa-instagram redes"></i>
                    <p class="regular textonormal">Instagram</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-news-int">
                    <i class="fa-brands fa-tiktok redes"></i>
                    <p class="regular textonormal">Tik Tok</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-news-int">
                    <i class="fa-brands fa-whatsapp redes"></i>
                    <p class="regular textonormal">WhatsApp</p>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            puntos('.puntos', 220);
            puntos('.puntos1', 64);
            puntos('.puntost', 288);
         });
    </script>
    <script src="../js/puntos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init()
    </script>
</body>
</html>