<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="frontend/css/home.css">
    <link rel="stylesheet" href="frontend/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <!-- <svg width="200" height="200" viewBox="0 0 100 100">
        <polygon points="50,1 95,27.5 95,72.5 50,100 5,72.5 5,27.5" fill="#2ecc71" />
    </svg> -->
    <!-- <div class="hexagono"></div>
    <div class="hexagonito"></div>
    <div class="hexagonito2"></div> -->
      
    <section class="container">
        <div class="header">
            <div class="menu" id="menu">
                <i class="fa-solid fa-bars fa-2x"></i>
            </div>
            <div class="menu-float" id="menu-float">
                <div class="menu-float-int">
                    <nav>
                        <ul>
                            <li><a href="" class="enlace bold BLACK">enlace1</a></li>
                            <li><a href="" class="enlace bold BLACK">enlace2</a></li>
                            <li><a href="" class="enlace bold BLACK">enlace3</a></li>
                            <li><a href="" class="enlace bold BLACK">enlace4</a></li>
                            <li><a href="" class="enlace bold BLACK">enlace5</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="logo">
                <a href="#"><img class="logo-img" src="frontend/img/logos/LOGO.svg" alt="logo" data-aos="fade-up" data-aos-duration="700"></a>
            </div>
        </div>
        <div class="home">
            <div class="homeBG">
                <div class="homeBG-black"></div>
            </div>
        </div>
        <div class="content">
            hola
        </div>
        <div class="fotter">
            <div class="fotter-int fot-logo">
                <img src="frontend/img/logos/LOGO.svg" alt="">
            </div>
            <div class="fotter-int fot-programas">
                <h3 class="bold fot-programas-tt">NUESTROS PROGRAMAS</h3>
                <br>
                <ul>
                    <li class="programa regular textonormal">programa1</li>
                    <li class="programa regular textonormal">programa2</li>
                    <li class="programa regular textonormal">programa3</li>
                    <li class="programa regular textonormal">programa4</li>
                    <li class="programa regular textonormal">programa5</li>
                    <li class="programa regular textonormal">programa6</li>
                    <li class="programa regular textonormal">programa7</li>
                </ul>
            </div>
            <div class="fotter-int fot-contacto">
                <h3 class="bold fot-programas-tt">CONTACTANOS O VISITANOS</h3>
                <br>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="regular textonormal">ubicacion</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-clock"></i>
                    <p class="regular textonormal">horario de atencion</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-phone-flip"></i>
                    <p class="regular textonormal">+57 123 456 78 90</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-envelope"></i>
                    <p class="regular textonormal">fundacionhuellasdelayer<br>@gmail.com</p>
                </div>
            </div>
            <div class="fotter-int fot-news">
                <h3 class="bold fot-programas-tt">¡SIGUENOS!</h3>
                <br><br>
                <div class="fot-news-int">
                    <i class="fa-brands fa-twitter redes"></i>
                    <p class="regular textonormal">Twitter</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-news-int">
                    <i class="fa-brands fa-instagram redes"></i>
                    <p class="regular textonormal">Instagram</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-news-int">
                    <i class="fa-brands fa-tiktok redes"></i>
                    <p class="regular textonormal">Tik Tok</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-news-int">
                    <i class="fa-brands fa-whatsapp redes"></i>
                    <p class="regular textonormal">WhatsApp</p>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init()
    </script>
</body>
</html>