<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/us.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="../img/logos/LOGO.svg">
    <title>Nosotros - Conocenos</title>
</head>
<body>
    <section class="container">
        <div class="preliminar">
            <div class="pre-int">
                <div>
                    <i class="fa-solid fa-phone-flip"></i>
                    <p class="regular">+57 123 456 78 90</p>
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="" class="enlace-n regular"><p>wpr@gmail.com</p></a>
                </div>
            </div>
            <div class="pre-redes"> 
                <a href="https://www.instagram.com/" target="_blank" class="redes-link"><i class="fa-brands fa-instagram redes" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="100"></i></a>
                <a href="https://www.tiktok.com/" target="_blank" class="redes-link"><i class="fa-brands fa-tiktok redes" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="150"></i></a>
                <a href="https://www.whatsapp.com/" target="_blank" class="redes-link"><i class="fa-brands fa-whatsapp redes" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="200"></i></a>
            </div>
        </div>
        <div class="header">
            <div>
                <div class="menu" id="menu">
                    <i class="fa-solid fa-bars fa-2x"></i>
                </div>
                <div class="container-nofloat">
                    <div class="menu-float" id="menu-float">
                        <div class="menu-float-int">
                            <nav>
                                <ul>
                                    <li><a href="../../index.html" class="enlace bold BLACK">Inicio</a></li>
                                    <li><a href="#" class="enlace bold BLACK">Nosotros</a></li>
                                    <li><a href="proyectos.html" class="enlace bold BLACK">Proyectos</a></li>
                                    <li><a href="clientes.html" class="enlace bold BLACK">Clientes</a></li>
                                    <li><a href="docs.html" class="enlace bold BLACK">Transparencia</a></li>
                                    <li><a href="contactus.html" class="enlace bold BLACK">Contactanos</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div> 
                <div class="menu-float2" id="menu-float2">
                    <div class="puntos1 puntos" style="grid-template-columns: repeat(16, 1fr);"></div>
                    <div id="closeIcon">
                        <i class="fa-solid fa-xmark fa-3x"></i>
                    </div>
                    <div class="menu-float-int2">
                        <nav>
                            <ul>
                                <li><a href="../../index.html" class="enlace bold BLACK x1-5">Inicio</a></li>
                                <li><a href="nosotros.html" class="enlace bold BLACK x1-5">Nosotros</a></li>
                                <li><a href="proyectos.html" class="enlace bold BLACK x1-5">Proyectos</a></li>
                                <li><a href="clientes.html" class="enlace bold BLACK x1-5">Clientes</a></li>
                                <li><a href="docs.html" class="enlace bold BLACK x1-5">Transparencia</a></li>
                                <li><a href="contactus.html" class="enlace bold BLACK x1-5">Contactanos</a></li>
                            </ul>
                        </nav>
                    </div>
                
                    <div class="puntost puntos" style="grid-template-columns: repeat(16, 1fr);"></div>
                </div>
            </div>
            <div class="logo">
                <a href="#"><img class="logo-img" src="../img/logos/LOGO.svg" alt="logo" data-aos="fade-up" data-aos-duration="700"></a>
            </div>
            <script src="../js/menu.js"></script>
        </div>
        <div class="home">
            <div class="home-int" data-aos="zoom-in" data-aos-duration="700"></div>
            <div class="home-int" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="100"></div>
            <div class="home-int" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="200"></div>
            <div class="home-int" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="300"></div>
            <div class="hexagonoXL htert" style="position: absolute; left: -2%; top: 2%;" data-aos="fade-right" data-aos-duration="700"></div>
            <div class="hexagonoXL htert" style="position: absolute; left: 5%; top: 12%;" data-aos="fade-right" data-aos-duration="700"></div>
            <div class="hexagonoXL htert" style="position: absolute; right: -2%; bottom: 2%;" data-aos="fade-right" data-aos-duration="700"></div>
            <div class="hexagonoXL htert" style="position: absolute; right: 5%; bottom: 12%;" data-aos="fade-right" data-aos-duration="700"></div>
            <div class="home-texts" >
                <div class="separador" data-aos="zoom-in" data-aos-duration="700"></div>
                <h1 class="black x3" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="150">CONOCENOS<br>UN POCO MÁS</h1>
                <div class="separador"></div>
            </div>
        </div>
        <div class="ms-qs-container">
            <div class="quienes-somos">
                <div class="qs-logo">
                    <div class="puntos" style="grid-template-columns: repeat(12, 1fr);"></div>
                    <img src="../img/logos/LOGO.svg" alt="">
                    <div class="puntos" style="grid-template-columns: repeat(12, 1fr);"></div>
                </div>
                <div class="qs-texts">
                    <p class="regular BLACK ">Somos una empresa con más de 11 años de experiencia, comprometida con el bienestar de las comunidades y la defensa de sus derechos. Nuestro trabajo se fundamenta en la responsabilidad social, la inclusión y el respeto por la diversidad. Nos especializamos en la prestación de servicios integrales en salud pública y en la ejecución de proyectos que promueven el desarrollo humano y social. A través de cada una de nuestras acciones, buscamos restablecer derechos y generar un impacto positivo y duradero en la vida de las personas.</p>
                </div>
            </div>
            <div class="mision-vision">
                <img class="fondo-mision-vision" src="../img/galeria/estetoscopio.jpg" alt="fondo-mision-vision">
                <div class="mv">
                    <div class="mision" data-aos="fade-up" data-aos-duration="700">
                        <h3 class="bold x2">MISIÓN</h3>
                        <div class="separador"></div>
                        <p class="regular" style="font-size: 1.2rem;">WPR Gestión en Salud S.A.S., para el año 2025 seremos una organización reconocida a nivel público y privado por pres- tar servicios profesionales con altos estándares de calidad que permiten a nuestros clientes optimizar sus recursos téc- nicos y financieros, logrando mejoras en las condiciones de vida de sus colaboradores y población impactada.</p>
                    </div>
                    <div class="vision" data-aos="fade-down" data-aos-duration="700">
                        <H3 class="bold x2">VISIÓN</H3>
                        <div class="separador"></div>
                        <p class="regular" style="font-size: 1.2rem;">Trabajamos para operar de manera idónea los recursos técnicos y financieros, presentando propuestas de valor acorde a las necesidades que se desean satisfacer y velando por su correcta ejecución.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="valores-tt">
            <div class="separador" data-aos="zoom-in" data-aos-duration="700"></div>
            <h2 class="black x3" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="300">NUESROS <span class="light">VALORES</span></h2>
            <div class="separador" data-aos="zoom-in" data-aos-duration="700"></div>
        </div>
        <div class="valores">
            <div class="hexagonoEdit htert" style="width: 35vw; height: 30vw; position: absolute; left: -9%; top: -2%;" data-aos="fade-right" data-aos-duration="700"></div>
            <div class="hexagonoXL htert" style="position: absolute; left: 14%; top: 10%;" data-aos="fade-right" data-aos-duration="700"></div>
            <div class="hexagonoEdit htert" style="width: 35vw; height: 30vw; position: absolute; right: -9%; bottom: 58%;" data-aos="fade-right" data-aos-duration="700"></div>
            <div class="hexagonoXL htert" style="position: absolute; right: 14%; bottom: 55%;" data-aos="fade-right" data-aos-duration="700"></div>
            
            <div class="hexagonoEdit htert" style="width: 35vw; height: 30vw; position: absolute; left: -9%; top: 38%;" data-aos="fade-right" data-aos-duration="700"></div>
            <div class="hexagonoXL htert" style="position: absolute; left: 14%; top: 50%;" data-aos="fade-right" data-aos-duration="700"></div>
            <div class="hexagonoEdit htert" style="width: 35vw; height: 30vw; position: absolute; right: -9%; bottom: 18%;" data-aos="fade-right" data-aos-duration="700"></div>
            <div class="hexagonoXL htert" style="position: absolute; right: 14%; bottom: 15%;" data-aos="fade-right" data-aos-duration="700"></div>
            
            <div class="hexagonoEdit htert" style="width: 35vw; height: 30vw; position: absolute; left: -9%; bottom: -5%;" data-aos="fade-right" data-aos-duration="700"></div>
            <div class="hexagonoXL htert" style="position: absolute; left: 14%; bottom: -8%;" data-aos="fade-right" data-aos-duration="700"></div>
            
            <div class="valores-texts">
                <div class="valores-texts-int">
                    <div class="vcaja-t" data-aos="fade-right" data-aos-duration="700">
                        <div>                        
                            <p class="bold x2">Responsabilidad social</p>
                        </div>
                        <div class="separador-v"></div>
                        <div>
                            <p class="regular">Comprometidos con el bienestar, cada proceso se orienta hacia el mejoramiento de la calidad de vida de las personas, reflejando nuestro compromiso social.</p>
                        </div>
                    </div>
                    <div class="vcaja-t" data-aos="fade-right" data-aos-duration="700">
                        <div>
                            <p class="bold x2">Transparencia</p>
                        </div>
                        <div class="separador-v"></div>
                        <div>
                            <p class="regular">Nuestra ejecución se caracteriza por procesos idóneos y trazables, garantizando una gestión técnica y financiera transparente y responsable.</p>

                        </div>
                    </div>
                    <div class="vcaja-t" data-aos="fade-right" data-aos-duration="700">
                        <div>
                            <p class="bold x2">Trabajo en equipo</p>
                        </div>
                        <div class="separador-v"></div>
                        <div>
                            <p class="regular">Contamos con un equipo altamente calificado que colabora de manera cohesionada para alcanzar nuestros objetivos comunes.</p>

                        </div>
                    </div>
                    <div class="vcaja-t" data-aos="fade-right" data-aos-duration="700">
                        <div>
                            <p class="bold x2">Calidad</p>
                        </div>
                        <div class="separador-v"></div>
                        <div>
                            <p class="regular">Orientamos nuestros procesos hacia la mejora continua y la innovación, aportando valor agregado a los resultados y objetivos propuestos. En WPR Gestión en Salud S.A.S., la calidad es un pilar esencial de nuestra filosofía empresarial.</p>

                        </div>
                    </div>
                    <div class="vcaja-t" data-aos="fade-right" data-aos-duration="700">
                        <div>
                            <p class="bold x2">Respeto</p>
                        </div>
                        <div class="separador-v"></div>
                        <div>
                            <p class="regular">Valoramos la diversidad y trabajamos activamente por la inclusión, buscando el restablecimiento de los derechos fundamentales de todas las personas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fotter">
            <div class="fotter-int fot-logo">
                <img src="../img/logos/LOGO.svg" alt="">
            </div>
            <div class="fotter-int fot-programas">
                <h3 class="bold fot-programas-tt">NUESTROS PROGRAMAS</h3>
                <br>
                <ul>
                    <li class="programa regular textonormal">programa1</li>
                    <li class="programa regular textonormal">programa2</li>
                    <li class="programa regular textonormal">programa3</li>
                    <li class="programa regular textonormal">programa4</li>
                    <li class="programa regular textonormal">programa5</li>
                    <li class="programa regular textonormal">programa6</li>
                    <li class="programa regular textonormal">programa7</li>
                </ul>
            </div>
            <div class="fotter-int fot-contacto">
                <h3 class="bold fot-programas-tt">CONTACTANOS O VISITANOS</h3>
                <br>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="regular textonormal">ubicacion</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-clock"></i>
                    <p class="regular textonormal">horario de atencion</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-phone-flip"></i>
                    <p class="regular textonormal">+57 123 456 78 90</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-envelope"></i>
                    <p class="regular textonormal">fundacionhuellasdelayer<br>@gmail.com</p>
                </div>
            </div>
            <div class="fotter-int fot-news">
                <h3 class="bold fot-programas-tt">¡SIGUENOS!</h3>
                <br><br>
                <div class="fot-news-int">
                    <i class="fa-brands fa-twitter redes"></i>
                    <p class="regular textonormal">Twitter</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-news-int">
                    <i class="fa-brands fa-instagram redes"></i>
                    <p class="regular textonormal">Instagram</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-news-int">
                    <i class="fa-brands fa-tiktok redes"></i>
                    <p class="regular textonormal">Tik Tok</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-news-int">
                    <i class="fa-brands fa-whatsapp redes"></i>
                    <p class="regular textonormal">WhatsApp</p>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            puntos('.puntos', 36);
            puntos('.puntos1', 64);
            puntos('.puntost', 288);
         });
    </script>
    <script src="../js/puntos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init()
    </script>
</body>
</html>