<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/focus.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="../img/logos/LOGO.svg">
    <title>Proyectos</title>
</head>
<body>
    <section class="container">
        <div class="preliminar">
            <div class="pre-int">
                <div>
                    <i class="fa-solid fa-phone-flip"></i>
                    <p class="regular">+57 123 456 78 90</p>
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="" class="enlace-n regular"><p>wpr@gmail.com</p></a>
                </div>
            </div>
            <div class="pre-redes"> 
                <a href="https://www.instagram.com/" target="_blank" class="redes-link"><i class="fa-brands fa-instagram redes" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="100"></i></a>
                <a href="https://www.tiktok.com/" target="_blank" class="redes-link"><i class="fa-brands fa-tiktok redes" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="150"></i></a>
                <a href="https://www.whatsapp.com/" target="_blank" class="redes-link"><i class="fa-brands fa-whatsapp redes" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="200"></i></a>
            </div>
        </div>
        <div class="header">
            <div>
                <div class="menu" id="menu">
                    <i class="fa-solid fa-bars fa-2x"></i>
                </div>
                <div class="container-nofloat">
                    <div class="menu-float" id="menu-float">
                        <div class="menu-float-int">
                            <nav>
                                <ul>
                                    <li><a href="../../index.html" class="enlace bold BLACK">Inicio</a></li>
                                    <li><a href="nosotros.html" class="enlace bold BLACK">Nosotros</a></li>
                                    <li><a href="proyectos.html" class="enlace bold BLACK">Proyectos</a></li>
                                    <li><a href="clientes.html" class="enlace bold BLACK">Clientes</a></li>
                                    <li><a href="docs.html" class="enlace bold BLACK">Transparencia</a></li>
                                    <li><a href="contactus.html" class="enlace bold BLACK">Contactanos</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="menu-float2" id="menu-float2">
                    <div class="puntos1h puntos" style="grid-template-columns: repeat(16, 1fr);"></div>
                    <div id="closeIcon">
                        <i class="fa-solid fa-xmark fa-3x"></i>
                    </div>
                    <div class="menu-float-int2">
                        <nav>
                            <ul>
                                <li><a href="../../index.html" class="enlace bold BLACK x1-5">Inicio</a></li>
                                <li><a href="nosotros.html" class="enlace bold BLACK x1-5">Nosotros</a></li>
                                <li><a href="proyectos.html" class="enlace bold BLACK x1-5">Proyectos</a></li>
                                <li><a href="clientes.html" class="enlace bold BLACK x1-5">Clientes</a></li>
                                <li><a href="docs.html" class="enlace bold BLACK x1-5">Transparencia</a></li>
                                <li><a href="contactus.html" class="enlace bold BLACK x1-5">Contactanos</a></li>
                            </ul>
                        </nav>
                    </div>
                
                    <div class="puntosth puntos" style="grid-template-columns: repeat(16, 1fr);"></div>
                </div> 
            </div>
            <div class="logo">
                <a href="#"><img class="logo-img" src="../img/logos/LOGO.svg" alt="logo"></a>
            </div>
            <script src="../js/menu.js"></script>
        </div>

        <div class="home" >
            <div class="home-int">
                <div class="puntost puntos p2" data-aos="fade-left" data-aos-duration="700"></div>
                <div class="puntos p1" data-aos="fade-down" data-aos-duration="700">
                
                </div>   
                <div class="home-texts" data-aos="zoom-in" data-aos-duration="700">
                    <div class="separador" style="border: 1px solid #00adb5;"></div>
                    <div class="h-t">
                        <h1 class="black x3 WHITE">INTERVENCIÓN<br>EN PROYECTOS</h1>
                    </div>
                    <div class="separador" style="border: 1px solid #00adb5;"></div>
                </div>
                <div class="puntos p1" data-aos="fade-up" data-aos-duration="700">

                </div>
                <div class="puntost puntos p2" data-aos="fade-left" data-aos-duration="700"></div>
            </div>
            
        </div>

        <div class="enfoque-container">
            <div class="enfoquett">
                <h2 class="bold">ENFOQUE SOCIAL</h2>
                <!-- <h2 class="bold textabs">Enfoque Social</h2> -->
            </div>
            <div class="enfoquecontent">
                <div class="enfc-int">
                    <div class="puntost puntos p3"></div>
                    <div class="puntost puntos p3" ></div>
                    <div class="puntost puntos p3"></div>
                    <div class="puntost puntos p3" ></div>
                    <div class="puntost puntos p3"></div>
                    <div class="puntost puntos p3" ></div>
                    <div class="enfc-texts">
                        <div class="enfc-grid">
                            <div class="grid-int" data-aos="zoom-in">
                                <h3 class="regular x1-5"><span class="boldI">Promoción </span>de servicios de salud y prevención de enfermedades.</h3>
                            </div>
                            <div class="grid-int" data-aos="zoom-in">
                                <h3 class="regular x1-5"><span class="boldI">Atención </span>a población con necesidades educativas especiales.</h3>
                            </div>
                            <div class="grid-int" data-aos="zoom-in">
                                <h3 class="regular x1-5"><span class="boldI">Gestión </span>para derechos de población en situación de discapacidad, cuidadores y familia.</h3>
                            </div>
                            <div class="grid-int" data-aos="zoom-in">
                                <h3 class="regular x1-5"><span class="boldI">Suministro </span>de talento humano y asesoría en enfoques diferenciales.</h3>
                            </div>
                            <div class="grid-int" data-aos="zoom-in">
                                <h3 class="regular x1-5"><span class="boldI">La importación </span>exportación y comercialización de productos y servicios, como: Medicamentos, equipos de salud, suministros e insumo hospitalarios.</h3>
                            </div>
                            <div class="grid-int" data-aos="zoom-in">
                                <h3 class="regular x1-5"><span class="boldI">Servicios </span>de lavandería y alimentación hospitalaria</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inter-texts-prin">
            <div class="hexagono htert" style="position: absolute;"></div>
            <div class="hexagono htert" style="position: absolute; left: 5%; top: 15%;"></div>
            <div class="hexagono htert" style="position: absolute; bottom: 0; right: 0;"></div>
            <div class="hexagono htert" style="position: absolute; right: 5%; bottom: 15%;"></div>

            <div class="itp-texts">
                <div>
                    <p class="regular x1-5">WPR Gestión en Salud S.A.S. ha liderado proyectos significativos con un fuerte compromiso social. Desde el "Acompañamiento Integral UAI" en Itagüí hasta la "Promoción de la Salud en Envigado" y el apoyo a instituciones culturales como la Escuela Superior Tecnológica de Artes Débora Arango. Proyectos como la "Atención en Yondo" y la "Atención Psicopedagógica en Itagüí" reflejan su adaptabilidad para abordar diversas necesidades comunitarias. </p>
                </div>
            </div>
        </div>

        <div class="areas-container">
            <div class="puntost puntos" style="position: absolute; left: -5%; top: 5%;"></div>
            <div class="areas-int">
                <div>
                    <div>
                        <img class="areas-logo" src="../img/logos/LOGO.svg" alt="" >
                        <h3 class="bold x2" data-aos="fade-right" data-aos-duration="700" data-aos-delay="100">DEDICACIÓN EN <br>ÁREAS COMO:</h3>
                        <div class="separador-blue" data-aos="fade-right" data-aos-duration="700" data-aos-delay="200"></div>
                        <p class="regular" data-aos="fade-right" data-aos-duration="700" data-aos-delay="300">Se destaca por su enfoque integral y compromiso con el bienestar de las comunidades a través de proyectos innovadores y socialmente responsable</p>
                
                    </div>
                </div>
                <div>
                    <div class="areas-grid">
                        <div class="areas-grid-int hexaC" data-aos="fade-right" data-aos-duration="700">
                            <div class="hexagonoEdit htert" style="width: 40px; height: 40px;"></div>
                        </div>
                        <div class="areas-grid-int" data-aos="fade-right" data-aos-duration="700" data-aos-delay="100">
                            <p class="regular">Población con necesidades educativas especiales y talentos excepcionales. </p>
                        </div>
                        <div class="areas-grid-int hexaC" data-aos="fade-right" data-aos-duration="700" data-aos-delay="200">
                            <div class="hexagonoEdit htert" style="width: 40px; height: 40px;"></div>
                        </div>
                        <div class="areas-grid-int" data-aos="fade-right" data-aos-duration="700" data-aos-delay="300">
                            <p class="regular">Educación</p>
                        </div>
                        <div class="areas-grid-int hexaC" data-aos="fade-right" data-aos-duration="700" data-aos-delay="400">
                            <div class="hexagonoEdit htert" style="width: 40px; height: 40px;"></div>
                        </div>
                        <div class="areas-grid-int" data-aos="fade-right" data-aos-duration="700" data-aos-delay="500">
                            <p class="regular">Salud Pública </p>
                        </div>
                        <div class="areas-grid-int hexaC" data-aos="fade-right" data-aos-duration="700" data-aos-delay="600">
                            <div class="hexagonoEdit htert" style="width: 40px; height: 40px;"></div>
                        </div>
                        <div class="areas-grid-int" data-aos="fade-right" data-aos-duration="700" data-aos-delay="700">
                            <p class="regular">Apoyo a la gestión en el suministro de personal asistencial.</p>
                        </div>
                        <div class="areas-grid-int hexaC" data-aos="fade-right" data-aos-duration="700" data-aos-delay="800">
                            <div class="hexagonoEdit htert" style="width: 40px; height: 40px;"></div>
                        </div>
                        <div class="areas-grid-int" data-aos="fade-right" data-aos-duration="700" data-aos-delay="900">
                            <p class="regular">Comercialización de medicamentos, equipos de salud, suministros e insumo hospitalarios.</p>
                        </div>
                        <div class="areas-grid-int hexaC" data-aos="fade-right" data-aos-duration="700" data-aos-delay="1000">
                            <div class="hexagonoEdit htert" style="width: 40px; height: 40px;"></div>
                        </div>
                        <div class="areas-grid-int" data-aos="fade-right" data-aos-duration="700" data-aos-delay="1100">
                            <p class="regular">Servicios de lavandería y alimentación hospitalaria</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fotter">
            <div class="fotter-int fot-logo">
                <img src="../img/logos/LOGO.svg" alt="">
            </div>
            <div class="fotter-int fot-programas">
                <h3 class="bold fot-programas-tt">NUESTROS PROGRAMAS</h3>
                <br>
                <ul>
                    <li class="programa regular textonormal">programa1</li>
                    <li class="programa regular textonormal">programa2</li>
                    <li class="programa regular textonormal">programa3</li>
                    <li class="programa regular textonormal">programa4</li>
                    <li class="programa regular textonormal">programa5</li>
                    <li class="programa regular textonormal">programa6</li>
                    <li class="programa regular textonormal">programa7</li>
                </ul>
            </div>
            <div class="fotter-int fot-contacto">
                <h3 class="bold fot-programas-tt">CONTACTANOS O VISITANOS</h3>
                <br>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="regular textonormal">ubicacion</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-clock"></i>
                    <p class="regular textonormal">horario de atencion</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-phone-flip"></i>
                    <p class="regular textonormal">+57 123 456 78 90</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-envelope"></i>
                    <p class="regular textonormal">fundacionhuellasdelayer<br>@gmail.com</p>
                </div>
            </div>
            <div class="fotter-int fot-news">
                <h3 class="bold fot-programas-tt">¡SIGUENOS!</h3>
                <br><br>
                <div class="fot-news-int">
                    <i class="fa-brands fa-twitter redes"></i>
                    <p class="regular textonormal">Twitter</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-news-int">
                    <i class="fa-brands fa-instagram redes"></i>
                    <p class="regular textonormal">Instagram</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-news-int">
                    <i class="fa-brands fa-tiktok redes"></i>
                    <p class="regular textonormal">Tik Tok</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-news-int">
                    <i class="fa-brands fa-whatsapp redes"></i>
                    <p class="regular textonormal">WhatsApp</p>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            puntos('.puntos', 220);
            puntos('.puntos1', 220);
            puntos('.puntost', 50);
            puntos('.puntosth', 288);
            puntos('.puntos1h', 64)
        });
    </script>
    <script src="../js/puntos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init()
    </script>
</body>
</html>